@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus ~ label,
input:valid ~ label {
  transform: translateY(-40px);
  background: #fff;
  padding: 0 4px;
  font-size: 14px;
  color: #655bd3;
}
